/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* RESET CSS BEGIN */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
    
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*RESET CSS END*/


/*HELPER CLASSES*/


.alignLeft {
  float: left;
}

.alignRight {
  float: right;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

strong,
b {
  font-weight: 700;
}

em,
i {
  font-style: italic;
}

p,
ul, li,
ol, li {
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 20px;
}



/*END OF HELPER CLASSES*/


/*GENERAL RULES*/

@font-face {
  font-family: 'HelveticaNeue-Thin';
  src: local('HelveticaNeue-Thin.otf'), url('HelveticaNeue-Thin.otf') format('opentype');
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  padding: 40px 20px;
}

body {
  font-family: 'HelveticaNeue-Thin';
}

h1 {
  font-size: 25px;
}

#hero {
  background-image: linear-gradient(rgba(218, 51, 46, 0.6), rgba(218, 51, 46, 0.6)), url('../img/hero-bg.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

h2 {
  font-size: 52px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Montserrat';
}

.nav li {
  display: inline-block;
}

.nav li a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 30px;
  padding-bottom: 3px;
  border-bottom: 4px solid white transparent;
  transition: border-bottom 0.1s, color 0.2s;
}

.nav li a:hover {
  border-bottom: 4px solid white;
  transition: border-bottom 0.1s, color 0.2s;
}

#hero h2 {
  color: white;
  margin-bottom: 55px;
}

.cta {
  display: inline-block;
  margin-top: 100px;
  position: relative;
}

.imgs {
  float: right;
  position: absolute;
  right: -135px;
}

.iphone  {
  width: 85%;
  position: relative;
  margin-bottom: -260px;
}

.cta-info {
  width: 60%;
  padding-right: 150px;
  float: left;
}

.hero-para {
  font-size: 36px;
  line-height: 40px;
  font-family: 'HelveticaNeue-Thin';
  color: white;
  margin-bottom: 55px;
}

.cta-button {
  padding: 23px 35px;
  background-color: #282828;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 50px;
  transition: 0.3s;
  
}

.cta-button:hover {
  background: #383737;
  transition: 0.3s;
}

.iphone-icon {
  vertical-align: middle;
  padding-right: 20px;
}























